.app {
  font-family: Arial, sans-serif;
  padding: 10px;
  height: 100vh;
  margin: -10px;
  background: #dae8ff;
  text-align: center;
}

.setup, .scoreboard {
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 50px;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.players div, .player-score {
  margin: 5px 0;
}

.frames input {
  width: 60px;
  margin: 2px;
}

button {
  margin: 10px;
  padding: 4px 16px;
  border: none;
  background: #3c52ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.winner {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(66, 174, 30);
}